#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c > #backgroundBox {
  position: absolute;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c > #alignmentBox {
  position: relative;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Master_item_2 {
  position: absolute;
  width: 1280.968281173958px;
  height: 418.046463999166px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Image_6 .imageViewport > * {
  width: 149.8866153219964%;
  height: 259.6104208146528%;
  left: -0.0%;
  top: -44.355525554544066%;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Image_6 {
  position: absolute;
  width: 1280.968281173958px;
  height: 418.0464639991658px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Button_5 {
  position: absolute;
  width: 169.64062500000017px;
  min-height: 36.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_0.0.0_system',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Button_5 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Button_5 > .borderLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Button_5 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Button_5 span {
  color: #135B81;
  text-align: center;
  text-decoration: none;
  font-family: 'Quicksand_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Button_5 span#rtr-mi-830fa225-Button_5_0 {
  color: #135B81;
  text-decoration: none;
  font-family: 'Quicksand_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Text_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Text_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Text_17 span {
  color: #042638;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Text_17 span#rtr-mi-830fa225-Text_17_0 {
  color: #042638;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Text_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Text_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Text_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Text_18 span {
  color: #135B81;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-830fa225-Text_18 span#rtr-mi-830fa225-Text_18_0 {
  color: #135B81;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_2 {
  position: absolute;
  width: 377.01775926484675px;
  min-height: 524.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_3 .imageViewport > * {
  width: 110.19766655944203%;
  height: 118.58407079646017%;
  left: -5.098833540401293%;
  top: -9.734513274336285%;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_3 {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_1 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #4AA2CF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #4AA2CF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #4AA2CF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #4AA2CF;
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_1 span {
  color: #4AA2CF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_1 span#rtr-s-Button_1_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_4 {
  position: absolute;
  width: 322.171875px;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_4 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_7 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_10 span {
  color: #042638;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_10 span#rtr-s-Text_10_0 {
  color: #042638;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_3 {
  position: absolute;
  width: 377.01775926484675px;
  min-height: 524.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_3 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #4AA2CF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #4AA2CF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #4AA2CF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #4AA2CF;
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_3 span {
  color: #4AA2CF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_3 span#rtr-s-Button_3_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_4 .imageViewport > * {
  width: 110.19766655944203%;
  height: 118.58407079646017%;
  left: -5.098833540401293%;
  top: -9.734513274336285%;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_4 {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_11 {
  position: absolute;
  width: 322.171875px;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_11 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_11 span#rtr-s-Text_11_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_12 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_5 {
  position: absolute;
  width: 377.01775926484675px;
  min-height: 524.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image .imageViewport > * {
  width: 110.19766655944201%;
  height: 118.58407079646017%;
  left: -5.0988335404012926%;
  top: -9.734513274336283%;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_7 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #4AA2CF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #4AA2CF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #4AA2CF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #4AA2CF;
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_7 span {
  color: #4AA2CF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_7 span#rtr-s-Button_7_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph_49 {
  position: absolute;
  width: 322.171875px;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph_49 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph_49 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph_49 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph_49 span#rtr-s-Paragraph_49_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph_4 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_8 span {
  color: #042638;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_8 span#rtr-s-Text_8_0 {
  color: #042638;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_1 {
  position: absolute;
  width: 377.01775926484675px;
  min-height: 524.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_2 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #4AA2CF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #4AA2CF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #4AA2CF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #4AA2CF;
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_2 span {
  color: #4AA2CF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_2 span#rtr-s-Button_2_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_2 .imageViewport > * {
  width: 110.19766655944203%;
  height: 118.58407079646017%;
  left: -5.098833540401293%;
  top: -9.734513274336283%;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_2 {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_5 {
  position: absolute;
  width: 322.171875px;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_5 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_5 span#rtr-s-Text_5_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_6 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_6 {
  position: absolute;
  width: 377.01775926484675px;
  min-height: 524.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_5 .imageViewport > * {
  width: 110.19766655944203%;
  height: 118.58407079646017%;
  left: -5.098833540401293%;
  top: -9.734513274336283%;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_5 {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_4 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #4AA2CF;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #4AA2CF;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #4AA2CF;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #4AA2CF;
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 17.0px;
  border-top-right-radius: 17.0px;
  border-bottom-right-radius: 17.0px;
  border-bottom-left-radius: 17.0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_4 span {
  color: #4AA2CF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Button_4 span#rtr-s-Button_4_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_13 {
  position: absolute;
  width: 322.171875px;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_13 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_13 span#rtr-s-Text_13_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_16 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_1 .imageViewport > * {
  width: 124.86938764531878%;
  height: 122.80282655701468%;
  left: -11.90063505209875%;
  top: -2.3442086778150704E-14%;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Image_1 {
  position: absolute;
  width: 1281.8236529606788px;
  height: 869.5093715869378px;
  opacity: 0.8;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_4 {
  position: absolute;
  width: 1404.0000000000005px;
  min-height: 897.0000000000001px;
  opacity: 0.7;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  blur(5.0px);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,0,0,0.8);
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 37.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 37.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Path_6 {
  position: absolute;
  width: 62.0px;
  height: 36.9254150390625px;
  cursor: pointer;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #s-Master_item_1 {
  position: absolute;
  width: 924.9759574914713px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_1 {
  position: absolute;
  width: 61.206346878287604px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_1 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_1 span#rtr-mi-6f377666-Text_1_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_2 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_2 span#rtr-mi-6f377666-Text_2_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_3 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_3 span#rtr-mi-6f377666-Text_3_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_9 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_9 span#rtr-mi-6f377666-Text_9_0 {
  color: #CCCCCC;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_9 span#rtr-mi-6f377666-Text_9_1 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_14 {
  position: absolute;
  width: 99.69804653822905px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_14 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: underline;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_14 span#rtr-mi-6f377666-Text_14_0 {
  color: #CCCCCC;
  text-decoration: underline;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_15 {
  position: absolute;
  width: 34.09870421791061px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_15 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c #mi-6f377666-Text_15 span#rtr-mi-6f377666-Text_15_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6a369cc9-a9e6-48be-8c9b-e8632a0a180c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}