#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f > #backgroundBox {
  position: absolute;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f > #alignmentBox {
  position: relative;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_97 {
  position: absolute;
  width: 285.0177592648465px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_97 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_97 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_97 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_97 span#rtr-s-Paragraph_97_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_94 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_94 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_94 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_94 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_94 span#rtr-s-Paragraph_94_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Path_61 {
  position: absolute;
  width: 21.793913334782978px;
  height: 19.0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_91 {
  position: absolute;
  width: 285.0177592648465px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_91 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_91 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_91 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_91 span#rtr-s-Paragraph_91_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_88 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_88 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_88 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_88 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_88 span#rtr-s-Paragraph_88_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Path_60 {
  position: absolute;
  width: 21.793913334782978px;
  height: 19.0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_85 {
  position: absolute;
  width: 285.0177592648465px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_85 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_85 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_85 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_85 span#rtr-s-Paragraph_85_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_82 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_82 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_82 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_82 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph_82 span#rtr-s-Paragraph_82_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Path_59 {
  position: absolute;
  width: 21.793913334782978px;
  height: 19.0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_16 {
  position: absolute;
  width: 285.0177592648465px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_16 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_16 span#rtr-s-Text_16_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Path_7 {
  position: absolute;
  width: 21.793913334782978px;
  height: 19.0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_18 {
  position: absolute;
  width: 285.0177592648465px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_18 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_18 span#rtr-s-Text_18_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_19 span#rtr-s-Text_19_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Path_8 {
  position: absolute;
  width: 21.793913334782978px;
  height: 19.0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_20 {
  position: absolute;
  width: 285.0177592648465px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_20 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_20 span#rtr-s-Text_20_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_21 {
  position: absolute;
  width: 285.0177592648465px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Path_9 {
  position: absolute;
  width: 21.793913334782978px;
  height: 19.0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_24 {
  position: absolute;
  width: 285.0177592648465px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_24 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_24 span#rtr-s-Text_24_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_25 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_25 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_25 span#rtr-s-Text_25_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Path_11 {
  position: absolute;
  width: 21.793913334782978px;
  height: 19.0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_26 {
  position: absolute;
  width: 285.0177592648465px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_26 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_26 span#rtr-s-Text_26_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Text_27 span#rtr-s-Text_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Path_12 {
  position: absolute;
  width: 21.793913334782978px;
  height: 19.0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Image_1 .imageViewport > * {
  width: 124.86938764531878%;
  height: 122.80282655701468%;
  left: -11.90063505209875%;
  top: -2.3442086778150704E-14%;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Image_1 {
  position: absolute;
  width: 1281.8236529606788px;
  height: 869.5093715869378px;
  opacity: 0.8;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Rectangle_4 {
  position: absolute;
  width: 1532.0000000000005px;
  min-height: 869.9999999999999px;
  opacity: 0.7;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  blur(5.0px);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,0,0,0.8);
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 37.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 37.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Path_6 {
  position: absolute;
  width: 62.0px;
  height: 36.9254150390625px;
  cursor: pointer;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #s-Master_item_1 {
  position: absolute;
  width: 924.9759574914713px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_1 {
  position: absolute;
  width: 61.206346878287604px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_1 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_1 span#rtr-mi-67bacdb2-Text_1_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_2 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_2 span#rtr-mi-67bacdb2-Text_2_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_3 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_3 span#rtr-mi-67bacdb2-Text_3_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_9 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_9 span#rtr-mi-67bacdb2-Text_9_0 {
  color: #CCCCCC;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_9 span#rtr-mi-67bacdb2-Text_9_1 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_14 {
  position: absolute;
  width: 99.69804653822905px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_14 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_14 span#rtr-mi-67bacdb2-Text_14_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_15 {
  position: absolute;
  width: 34.09870421791061px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_15 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: underline;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f #mi-67bacdb2-Text_15 span#rtr-mi-67bacdb2-Text_15_0 {
  color: #CCCCCC;
  text-decoration: underline;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a65db0f1-64f7-4df4-80b5-ec786f07be5f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}