@font-face {
  font-family: "Comfortaa_47.0.0_google";
  src: url("../../../fonts/Comfortaa-Regular_47.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}
@font-face {
  font-family: "Quicksand_37.0.0_google";
  src: url("../../../fonts/Quicksand-Regular_37.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}
@font-face {
  font-family: "Quicksand_37.0.0_google";
  src: url("../../../fonts/Quicksand-Semibold_37.0.0_google.ttf");
  font-weight: 600; 
  font-display: swap;
}
@font-face {
  font-family: "Quicksand_0.0.0_system";
  src: url("../../../fonts/Quicksand-Regular.ttf");
  font-weight: 400; 
  font-display: swap;
}