#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed > #backgroundBox {
  position: absolute;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed > #alignmentBox {
  position: relative;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_20 span {
  color: #042638;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_20 span#rtr-s-Text_20_0 {
  color: #042638;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_21 span#rtr-s-Text_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_7 {
  position: absolute;
  width: 148.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #4AA2CF;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_7 span {
  color: #F9F9F9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_7 span#rtr-s-Button_7_0 {
  color: #F9F9F9;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_22 {
  position: absolute;
  width: 322.171875px;
  min-height: 90.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_22 .paddingLayer {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_22 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_22 span#rtr-s-Text_22_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_23 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_23 .paddingLayer {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_23 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_23 span#rtr-s-Text_23_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_12 .imageViewport > * {
  width: 110.19766655944201%;
  height: 118.58407079646018%;
  left: -5.0988335404012926%;
  top: -9.734513274336285%;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_12 {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_24 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_24 span#rtr-s-Text_24_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_8 {
  position: absolute;
  width: 148.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #4AA2CF;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_25 {
  position: absolute;
  width: 322.171875px;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_25 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_25 span#rtr-s-Text_25_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_26 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_26 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_26 span#rtr-s-Text_26_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_13 .imageViewport > * {
  width: 110.19766655944203%;
  height: 118.58407079646018%;
  left: -5.098833540401293%;
  top: -9.734513274336285%;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_13 {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_9 {
  position: absolute;
  width: 148.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: #4AA2CF;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_9 span {
  color: #F9F9F9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_9 span#rtr-s-Button_9_0 {
  color: #F9F9F9;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_27 span#rtr-s-Text_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_28 {
  position: absolute;
  width: 322.171875px;
  min-height: 90.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_28 .paddingLayer {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_28 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_28 span#rtr-s-Text_28_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_29 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_29 .paddingLayer {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_29 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_29 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_29 span#rtr-s-Text_29_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_14 .imageViewport > * {
  width: 110.19766655944203%;
  height: 118.58407079646017%;
  left: -5.098833540401293%;
  top: -9.734513274336285%;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_14 {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_1 span {
  color: #042638;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #042638;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_2 {
  position: absolute;
  width: 148.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #4AA2CF;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_2 span {
  color: #F9F9F9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_2 span#rtr-s-Button_2_0 {
  color: #F9F9F9;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_102 {
  position: absolute;
  width: 322.171875px;
  min-height: 90.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_102 .paddingLayer {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_102 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_102 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_102 span#rtr-s-Paragraph_102_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_46 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_46 .paddingLayer {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_46 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_46 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_46 span#rtr-s-Paragraph_46_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_19 .imageViewport > * {
  width: 110.19766655944201%;
  height: 118.58407079646018%;
  left: -5.0988335404012926%;
  top: -9.734513274336285%;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_19 {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_51 {
  position: absolute;
  width: 148.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_51 > .backgroundLayer > .colorLayer {
  background-color: #4AA2CF;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_51 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_51 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_51 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_51 span#rtr-s-Button_51_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_105 {
  position: absolute;
  width: 322.171875px;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_105 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_105 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_105 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_105 span#rtr-s-Paragraph_105_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_45 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_45 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_45 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_45 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_45 span#rtr-s-Paragraph_45_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_18 .imageViewport > * {
  width: 110.19766655944203%;
  height: 118.58407079646018%;
  left: -5.098833540401293%;
  top: -9.734513274336285%;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_18 {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_49 {
  position: absolute;
  width: 148.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_49 > .backgroundLayer > .colorLayer {
  background-color: #4AA2CF;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_49 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_49 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_49 span {
  color: #F9F9F9;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_49 span#rtr-s-Button_49_0 {
  color: #F9F9F9;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_99 {
  position: absolute;
  width: 322.171875px;
  min-height: 90.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_99 .paddingLayer {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_99 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_99 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_99 span#rtr-s-Paragraph_99_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_47 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_47 .paddingLayer {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_47 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_47 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_47 span#rtr-s-Paragraph_47_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image .imageViewport > * {
  width: 110.19766655944203%;
  height: 118.58407079646017%;
  left: -5.098833540401293%;
  top: -9.734513274336285%;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image {
  position: absolute;
  width: 377.01776123046864px;
  height: 226.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_1 .imageViewport > * {
  width: 124.86938764531878%;
  height: 122.80282655701468%;
  left: -11.90063505209875%;
  top: -2.3442086778150704E-14%;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_1 {
  position: absolute;
  width: 1281.8236529606788px;
  height: 869.5093715869378px;
  opacity: 0.8;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Rectangle_4 {
  position: absolute;
  width: 1452.0000000000007px;
  min-height: 920.0px;
  opacity: 0.7;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  blur(5.0px);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,0,0,0.8);
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 37.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 37.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Path_6 {
  position: absolute;
  width: 62.0px;
  height: 36.9254150390625px;
  cursor: pointer;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Master_item_1 {
  position: absolute;
  width: 924.9759574914711px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_4 {
  position: absolute;
  width: 61.206346878287604px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_4 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: underline;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_4 span#rtr-mi-a56cf1ce-Text_4_0 {
  color: #CCCCCC;
  text-decoration: underline;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_5 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_5 span#rtr-mi-a56cf1ce-Text_5_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_6 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_6 span#rtr-mi-a56cf1ce-Text_6_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_7 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_7 span#rtr-mi-a56cf1ce-Text_7_0 {
  color: #CCCCCC;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_7 span#rtr-mi-a56cf1ce-Text_7_1 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_8 {
  position: absolute;
  width: 99.69804653822905px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_8 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_8 span#rtr-mi-a56cf1ce-Text_8_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_9 {
  position: absolute;
  width: 34.09870421791061px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_9 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-a56cf1ce-Text_9 span#rtr-mi-a56cf1ce-Text_9_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_40 {
  position: absolute;
  width: 148.0px;
  min-height: 43.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_40 > .backgroundLayer > .colorLayer {
  background-color: #4AA2CF;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_40 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_40 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_40 span#rtr-s-Button_40_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_84 {
  position: absolute;
  width: 571.2702702374054px;
  min-height: 58.00000000000091px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_84 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_84 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_84 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_84 span#rtr-s-Paragraph_84_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_21 {
  position: absolute;
  width: 304.78906250000034px;
  min-height: 30.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_3 .imageViewport > * {
  width: 100.0%;
  height: 113.49693251533743%;
  left: -0.0%;
  top: -6.748466257668705%;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_3 {
  position: absolute;
  width: 573.5894287109373px;
  height: 325.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_39 {
  position: absolute;
  width: 148.0px;
  min-height: 43.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_39 > .backgroundLayer > .colorLayer {
  background-color: #4AA2CF;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_39 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_39 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Button_39 span#rtr-s-Button_39_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_81 {
  position: absolute;
  width: 571.270270237406px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_81 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_81 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_81 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_81 span#rtr-s-Paragraph_81_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_33 {
  position: absolute;
  width: 304.78906250000034px;
  min-height: 30.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_33 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_33 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Paragraph_33 span#rtr-s-Paragraph_33_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_4 .imageViewport > * {
  width: 100.0%;
  height: 113.49693251533743%;
  left: -0.0%;
  top: -6.748466257668705%;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Image_4 {
  position: absolute;
  width: 573.5894287109375px;
  height: 325.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_1 span {
  color: #042638;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Text_1 span#rtr-s-Text_1_0 {
  color: #042638;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #s-Master_item_2 {
  position: absolute;
  width: 1280.968281173958px;
  height: 418.04646399916555px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Image_2 .imageViewport > * {
  width: 149.8866153219964%;
  height: 259.6104208146528%;
  left: -0.0%;
  top: -44.355525554544066%;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Image_2 {
  position: absolute;
  width: 1280.968281173958px;
  height: 418.0464639991658px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Button_1 {
  position: absolute;
  width: 169.64062500000017px;
  min-height: 36.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_0.0.0_system',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Button_1 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Button_1 > .borderLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Button_1 > .backgroundLayer {
  border-top-left-radius: 7.0px;
  border-top-right-radius: 7.0px;
  border-bottom-right-radius: 7.0px;
  border-bottom-left-radius: 7.0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Button_1 span {
  color: #135B81;
  text-align: center;
  text-decoration: none;
  font-family: 'Quicksand_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Button_1 span#rtr-mi-73cd8483-Button_1_0 {
  color: #135B81;
  text-decoration: none;
  font-family: 'Quicksand_0.0.0_system',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Text_2 span {
  color: #042638;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Text_2 span#rtr-mi-73cd8483-Text_2_0 {
  color: #042638;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Text_3 span {
  color: #135B81;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed #mi-73cd8483-Text_3 span#rtr-mi-73cd8483-Text_3_0 {
  color: #135B81;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3ddafdf6-a9e9-4dd8-b046-edb25ef5d8ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}