#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62.master {
  transform: translate(0px,0px);
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_2 {
  position: absolute;
  width: 61.206346878287604px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_2 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_2 span#rtr-Paragraph_2_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_4 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_4 span#rtr-Paragraph_4_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_6 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: underline;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_6 span#rtr-Paragraph_6_0 {
  color: #4AA2CF;
  text-decoration: underline;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_1 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_1 span#rtr-Text_1_0 {
  color: #CCCCCC;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_1 span#rtr-Text_1_1 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_2 {
  position: absolute;
  width: 99.69804653822905px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_2 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_2 span#rtr-Text_2_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_3 {
  position: absolute;
  width: 34.09870421791061px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_3 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_3 span#rtr-Text_3_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62.master {
  transform: translate(0px,0px);
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_2 span#rtr-Text_2_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_6 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: underline;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_3 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_3 {
  position: absolute;
  width: 34.09870421791061px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_2 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_4 span#rtr-Paragraph_4_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_2 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_6 span#rtr-Paragraph_6_0 {
  color: #4AA2CF;
  text-decoration: underline;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.5pt;
  font-weight: 600;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_1 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_1 span#rtr-Text_1_1 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_2 span#rtr-Paragraph_2_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comfortaa_47.0.0_google',Arial;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_1 span#rtr-Text_1_0 {
  color: #CCCCCC;
  text-decoration: none;
  font-family: 'Comfortaa_47.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_2 {
  position: absolute;
  width: 99.69804653822905px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_4 span {
  color: #4AA2CF;
  text-align: left;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Text_3 span#rtr-Text_3_0 {
  color: #4AA2CF;
  text-decoration: none;
  font-family: 'Quicksand_37.0.0_google',Arial;
  font-size: 10.0pt;
  font-weight: 600;
  text-transform: none;
}
.m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 #Paragraph_2 {
  position: absolute;
  width: 61.206346878287604px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Quicksand_37.0.0_google',Arial;
}
#loadMark-m-e1e0d7b6-308c-4145-9582-1dec36fc8b62 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-e1e0d7b6-308c-4145-9582-1dec36fc8b62.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}